<p>
  <label>ID do bot Telegram</label>
  <%= text_field_tag 'settings[telegram_bot_default_chat_id]', settings['telegram_bot_default_chat_id'] %>
</p>

<p>
  <label>Chat padrão para envio de mensagens Telegram</label>
  <select name="settings[telegram_default_chat_id]">
    <%= options_for_select([['-- NENHUM --', '']] + 
      TelegramChat.order(chat_name: :asc).collect {|p| [ p.to_s, p.chat_id ] },
      settings['telegram_default_chat_id'] ) %>
  </select>
</p>
